# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# logs
*.log

# environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
